<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="public/style/global.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container d-flex align-content-center">
        <a class="navbar-brand" href="/" style="width: 36px">
          <img src="/public/img/brandred.png" alt="Muhammad Azmi" class="img-fluid" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav fw-bold ms-lg-3 text-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/project-form">Add Project</a>
            </li>
          </ul>

          <div class="ms-auto text-center">
            <a class="text-center btn btn-dark text-light fw-semibold" href="/contact-form">contact me</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Profile Card Section -->
    <section id="profile-card" class="bg-body-secondary" style="padding: 5rem 0">
      <div class="container bg-body-tertiary shadow-lg rounded-3 p-4 p-lg-5 d-flex flex-column-reverse flex-lg-row-reverse gap-lg-5">
        <!-- Profile Image Card -->
        <div class="w-25 basis right card bg-body-tertiary shadow-lg border-0">
          <img src="/public/img/profile.jpg" alt="" class="card-img-top" />
          <div class="card-body text-center">
            <h5 class="card-title">Muhammad Azmi</h5>
            <p class="card-text">Fullstack Developer</p>
          </div>
        </div>
        <!-- Profile Image Card End -->

        <!-- Profile Info -->
        <div class="w-75 left d-flex flex-column justify-content-evenly py-5">
          <!-- About -->
          <h2 class="fw-bold">Hello there, Welcome Welcome!</h2>
          <p class="lh-base fw-semibold mb-4" style="text-align: justify">
            The majority of gamers aspire to create their own games. And So Am I, became motivated to learn how to code. I enrolled at a vocational school in Banjarmasin where I majored in software engineering. My motivation changes from
            month to month; yes, it's challenging, but it's also incredibly satisfying to solve a problem and watch my code work. After graduating, I decided to pursue a Front End Specialties, but there is still much for me to learn and
            practice. I am aware that by choosing this career path, I will always be a student or a forever learner.
          </p>
          <!-- About End -->

          <!-- Buttons -->
          <div class="mb-4">
            <a href="project-form.html" class="btn btn-dark rounded-5 px-4 py-1 fw-semibold">contact</a>
            <a href="https://www.linkedin.com/in/muhammad-azmi-08487b23a/" target="_blank" class="btn fw-semibold"
              >Download CV <span class="down-icon"><i class="fa-solid fa-download"></i></span
            ></a>
          </div>
          <!-- Buttons End -->

          <!-- Icon Links -->
          <div class="icon-links d-flex flex-row gap-3">
            <a class="btn bg-dark text-light rounded-5 text-center py-2 px-1" href="https://www.linkedin.com/in/muhammad-azmi-08487b23a/" target="_blank">
              <i class="fa-brands fa-xl fa-linkedin-in"></i>
            </a>
            <a class="btn bg-dark text-light rounded-5 text-center py-2 px-1" href="https://www.instagram.com/azmye_/">
              <i class="fa-brands fa-xl fa-instagram"></i>
            </a>
            <a class="btn bg-dark text-light rounded-5 text-center py-2 px-1" href="#">
              <i class="fa-brands fa-xl fa-facebook-f"></i>
            </a>
            <a class="btn bg-dark text-light rounded-5 text-center py-2 px-1" href="#">
              <i class="fa-brands fa-xl fa-twitter"></i>
            </a>
          </div>
          <!-- Icon Links End -->
        </div>
        <!-- Profile Info End -->
      </div>
    </section>
    <!-- Profile Card Section  End -->

    <!-- Project Section -->
    <section id="projects" class="bg-white" style="padding: 5rem 0">
      <div class="container">
        <h1 class="text-center mb-5">MY PROJECTS</h1>
        <div class="row align-items-start">
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card border-0 bg-body-tertiary shadow-extra rounded-3 overflow-hidden p-3">
              <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" class="img-card-top rounded-3 mb-2" />
              <div class="card-body p-0">
                <h5 class="card-title mb-0">Dumbways Mobile App - 2023</h5>
                <p class="card-text text-secondary" style="font-size: 12px">Duration : 3 Months</p>
                <p class="card-text">App Project that can make you're coding life easier, this app built with React, and NodeJs.</p>
                <ul class="list-unstyled d-flex gap-3 mb-3">
                  <li><i class="fa-brands fa-xl fa-google-play"></i></li>
                  <li><i class="fa-brands fa-xl fa-android"></i></li>
                  <li><i class="fa-brands fa-xl fa-java"></i></li>
                </ul>
                <ul class="list-unstyled d-flex gap-1 mb-2">
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">edit</a>
                  </li>
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card border-0 bg-body-tertiary shadow-extra rounded-3 overflow-hidden p-3">
              <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" class="img-card-top rounded-3 mb-2" />
              <div class="card-body p-0">
                <h5 class="card-title mb-0">Dumbways Mobile App - 2023</h5>
                <p class="card-text text-secondary" style="font-size: 12px">Duration : 3 Months</p>
                <p class="card-text">App Project that can make you're coding life easier, this app built with React, and NodeJs.</p>
                <ul class="list-unstyled d-flex gap-3 mb-3">
                  <li><i class="fa-brands fa-xl fa-google-play"></i></li>
                  <li><i class="fa-brands fa-xl fa-android"></i></li>
                  <li><i class="fa-brands fa-xl fa-java"></i></li>
                </ul>
                <ul class="list-unstyled d-flex gap-1 mb-2">
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">edit</a>
                  </li>
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card border-0 bg-body-tertiary shadow-extra rounded-3 overflow-hidden p-3">
              <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" class="img-card-top rounded-3 mb-2" />
              <div class="card-body p-0">
                <h5 class="card-title mb-0">Dumbways Mobile App - 2023</h5>
                <p class="card-text text-secondary" style="font-size: 12px">Duration : 3 Months</p>
                <p class="card-text">App Project that can make you're coding life easier, this app built with React, and NodeJs.</p>
                <ul class="list-unstyled d-flex gap-3 mb-3">
                  <li><i class="fa-brands fa-xl fa-google-play"></i></li>
                  <li><i class="fa-brands fa-xl fa-android"></i></li>
                  <li><i class="fa-brands fa-xl fa-java"></i></li>
                </ul>
                <ul class="list-unstyled d-flex gap-1 mb-2">
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">edit</a>
                  </li>
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card border-0 bg-body-tertiary shadow-extra rounded-3 overflow-hidden p-3">
              <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="img-card-top rounded-3 mb-2" />
              <div class="card-body p-0">
                <h5 class="card-title mb-0">Dumbways Mobile App - 2023</h5>
                <p class="card-text text-secondary" style="font-size: 12px">Duration : 3 Months</p>
                <p class="card-text">App Project that can make you're coding life easier, this app built with React, and NodeJs.</p>
                <ul class="list-unstyled d-flex gap-3 mb-3">
                  <li><i class="fa-brands fa-xl fa-google-play"></i></li>
                  <li><i class="fa-brands fa-xl fa-android"></i></li>
                  <li><i class="fa-brands fa-xl fa-java"></i></li>
                </ul>
                <ul class="list-unstyled d-flex gap-1 mb-2">
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">edit</a>
                  </li>
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card border-0 bg-body-tertiary shadow-extra rounded-3 overflow-hidden p-3">
              <img src="https://plus.unsplash.com/premium_photo-1672243970579-8cd2d0e9e0b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="img-card-top rounded-3 mb-2" />
              <div class="card-body p-0">
                <h5 class="card-title mb-0">Dumbways Mobile App - 2023</h5>
                <p class="card-text text-secondary" style="font-size: 12px">Duration : 3 Months</p>
                <p class="card-text">App Project that can make you're coding life easier, this app built with React, and NodeJs.</p>
                <ul class="list-unstyled d-flex gap-3 mb-3">
                  <li><i class="fa-brands fa-xl fa-google-play"></i></li>
                  <li><i class="fa-brands fa-xl fa-android"></i></li>
                  <li><i class="fa-brands fa-xl fa-java"></i></li>
                </ul>
                <ul class="list-unstyled d-flex gap-1 mb-2">
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">edit</a>
                  </li>
                  <li class="w-50">
                    <a href="" class="w-100 p-0 btn btn-dark text-light">delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Project Section End -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
